@import url('https://fonts.googleapis.com/css2?family=Coiny&family=Sono:wght@400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1c1917;
  color: #fafaf9;
  font-family: 'Sono', sans-serif;
  padding: 40px;
}

.header {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.form-fact {
  background-color: #292524;
  margin-bottom: 40px;
  padding: 16px 40px;
  text-align: center;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: 'Coiny', cursive;
  line-height: 1;
  margin-top: 8px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: #292524;
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;

  display: flex;
  align-items: center;
  gap: 24px;
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: 'Coiny', cursive;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.vote-buttons {
  margin-left: auto;
}

ul {
  list-style: none;
}
